body {
  background-color: #ddd;
  color: #999;
  font: .9em sans-serif;
  margin: 0; }

a, h2, strong {
  color: #666; }
a {
  text-decoration: none; }
h2 {
  font-size: 1.4em;
  margin: 0 0 8px; }
input.poke {
  background: #08f url("../img/button-bg.png") repeat-x;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  height: 30px;
  padding-bottom: 6px;
  width: 150px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
strong {
  font-weight: normal; }
ul {
  list-style: none;
  margin: 6px 0 18px;
  padding: 0 3px 0; }

.wrap {
  margin: auto;
  max-width: 860px; }
.clear {
  clear: both; }

#banner {
  background: #9c9c9c url("../img/banner-bg.png") repeat-x;
  height: 80px; }
  #banner img {
    border: none;
    margin-top: 15px; }

#navi {
  background: #939393 url("../img/navi-bg.png") repeat-x;
  color: #fff; }
  #navi * {
    height: 30px; }
    #navi * * {
      margin: 0 2px;
      line-height:30px; }
  #navi .left {
    float: left; }
    #navi .left * {
      margin-right: 12px; }
  #navi .right {
    float: right; }
    #navi .right * {
      margin-left: 12px; }
  #navi a {
    color: inherit;
    text-decoration: none; }

#main {
  background-color: #fff;
  clear: both;
  padding: 12px 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px; }
  #main .column {
    float: left;
    width: 25%; }
  #main .doublecolumn {
    float: left;
    width: 50%; }
  #main .poke {
    margin-bottom: 16px; }
    #main .poke .date {
      font-size: .7em;
      margin-top: 1px; }
  img.user {
    max-width: 80%; }

#foot {
  color: #888;
  font-size: .8em;
  margin: 6px;
  text-align: center; }

