<h2>Poke</h2>
<?php
if ($poke) {
    $u1 = $poke['UserFrom']['username'];
    $u2 = $poke['UserTo']['username'];
    echo "<span style=\"font-size: 2em\">".$html->link($u1, "/users/view/$u1")." poked ".$html->link($u2, "/users/view/$u2")." <span class=\"time\">(".nice_time($poke['Poke']['created'],true).")</span></span>";
}
else {
    echo "Sorry that poke does not exist.";
}

?>