<h2>All Pokers</h2>

<?php
    $cols = array_chunk($users,ceil(count($users)/4));
    for ($i=0; $i<4; $i++) {
?>
<div class="column">    
    <!--<h2>By Creation</h2>-->
    <ul>
       <?php foreach ($cols[$i] as $user): ?>
        <li>
            <div class="poke">
                <div><?=$html->link($user['User']['username'], '/'.$user['User']['username'])?></div>
                <div class="date"><?=date("H:i M j Y", strtotime($user['User']['created']))?></div>
            </div>
        </li>
       <?php endforeach; ?>
    </ul>
</div>
<?php } ?>
